<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{active:active=='task'}" ng-click="Switch('task')">
                <a href="#">
                    Задачи
                </a>
            </li>
            <li ng-class="{active:active=='worker'}" ng-click="Switch('worker')">
                <a href="#">
                    Рабочие
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ng-if="active=='task'"><dx-brigadier-task state="state.task"></dx-brigadier-task></div>
        <div ng-if="active=='worker'"><dx-brigadier-worker state="state.worker"></dx-brigadier-worker></div>
    </div>
</div>
