<div>
  <div>
   <h1 class="page-header">Задачи</h1>
   <div class="form-inline">
    <!-- <button type="button" class="btn btn-primary" ng-click="NewTask()">Новая задача</button> -->
  </div>
  <div class="container-fluid">
    <div class="row" style="border-bottom: 1px solid #ccc;padding-top:20px;">
      <div class="col-xs-1"> Номер задачи</div>
      <div class="col-xs-2"> Статус</div>
      <div class="col-xs-2"> Наименование материала</div>
      <div class="col-xs-3"> Материал</div>
      <div class="col-xs-2"> Наличие</div>
      <div class="col-xs-2"> Чертеж</div>
    </div>
    <div class="row" ng-repeat="item in items" style="border-bottom: 1px solid #ccc;">
      <a href="#" ng-click="EditTask(item)">
        <div class="col-xs-1">
          {{item['number']}}
        </div>
        <div class="col-xs-2">
          {{item['status'] == 'finished'? 'Завершено' : 'Назначено' }}
        </div>
        <div class="col-xs-2">
          {{item['material.name']}}
        </div>
        <div class="col-xs-3" >
          {{item['material.type']}}
        </div>
        <div class="col-xs-2">
          {{item['material.count']}}
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-primary" ng-click="OpenFile(item.file)" style="height: 31px">Открыть файл</button> 
          <!-- <a href="{{item.file}}" class="row">Файл</a> -->
          
        </div>
      </a>
    </div>
    <div class="pull-right" ng-show="filter.paging.all>10">
      <dx-paging all="filter.paging.all" show="filter.paging.show" current="filter.paging.current" on-paging="Paging(current)"></dx-paging>
    </div>
  </div>
</div>
</div>
