<div>
    <div>

       <h1 class="page-header">Детали</h1>

        <div class="container-fluid">
            <div class="row" style="border-bottom: 1px solid #ccc;padding-top:20px;">
                <div class="col-xs-4">Наименование детали(кол-во)</div>
                <div class="col-xs-4"> Наименование материалов(кол-во)</div>
                <div class="col-xs-4">Свойства</div>
            </div>
            <div class="row" ng-repeat="item in items" style="border-bottom: 1px solid #ccc;">
                <a href="#" ng-click="Switch(item)">
                    <div class="col-xs-4">
                          
                   </div>
                   <div class="col-xs-4" >

                   </div>
                  <div class="col-xs-4">

                  </div>
              </a>

          </div>
              <div class="pull-right" ng-show="filter.paging.all>10">
                  <dx-paging all="filter.paging.all" show="filter.paging.show" current="filter.paging.current" on-paging="Paging(current)"></dx-paging>
              </div>
          </div>
      </div>

     <div ng-if="view=='newTest'">
         <h1 class="page-header">
             <button class="btn btn-primary" ng-click="Switch('diary')">
                 <span class="glyphicon glyphicon-chevron-left"></span>
             </button> Принять пациента
         </h1>
         <div ng-if="integration.id == 'inovus'"><dx-main-doctor-take-inovus-patient></dx-main-doctor-take-inovus-patient></div>
         <div ng-if="integration.id == 'bars'"><dx-main-doctor-take-inovus-patient></dx-main-doctor-take-inovus-patient></div>
     </div>
  </div>
