<div>
    <div>
       <h1 class="page-header">Учёт</h1>
        <div class="container-fluid">
            <div class="row" style="border-bottom: 1px solid #ccc;padding-top:20px;">
                <div class="col-xs-4"> Наименование материала</div>
                <div class="col-xs-4"> Материал</div>
                <div class="col-xs-3"> Наличие</div>

            </div>
            <div class="row" ng-repeat="item in items" style="border-bottom: 1px solid #ccc;">
                <a href="#" ng-click="Switch(item)">
                    <div class="col-xs-4">
                          
                   </div>
                   <div class="col-xs-4" >

                   </div>
                  <div class="col-xs-3">

                  </div>
              </a>

          </div>
              <div class="pull-right" ng-show="filter.paging.all>10">
                  <dx-paging all="filter.paging.all" show="filter.paging.show" current="filter.paging.current" on-paging="Paging(current)"></dx-paging>
              </div>
          </div>
      </div>
  </div>
